body {
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 13px;
	margin: 0;
	cursor: default;
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #ffffff
}
table {
	margin: 0;
	padding: 0;
	font-size: 13px;
}
td
{
	vertical-align: top;
}
a {
	color: #203090;
	cursor: pointer;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
div {
	padding: 0;
	margin: 0;
}
a:visited {
	color: #5f8498;
	border: 0
}
a:hover {
	color: #65a7cb;
	border: 0
}
a .Current {
	font-weight: bolder;
	background-color: #a6cfe5
}
img {
	BORDER: none;
	MARGIN: 0;
	PADDING: 0 3 3 0;
	cursor: pointer;
	HEIGHT: 16px;
	WIDTH: 16px
}
UL {
	MARGIN: 0;
	PADDING: 0;
	BORDER: none;
	LIST-STYLE-TYPE: none
}
UL.Shown {
	DISPLAY: block
}
UL.Hidden {
	DISPLAY: none
}
UL#ULRoot {
	white-space: nowrap;
}
LI {
	MARGIN: 0;
	BORDER: none;
	PADDING: 0
}
LI UL,UL UL {
	padding: 0 0 0 0;
	margin: 0 0 0 16px
}
h1 {
	margin: 0 0 6px 0
}