<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Waircut.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Waircut.My.MySettings>
            <setting name="LastDateNewsWatched" serializeAs="String">
                <value>01/31/2017 21:23:00</value>
            </setting>
            <setting name="ServiceHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nRigth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nWrong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDateOnlineNews" serializeAs="String">
                <value>01/31/1990 21:42:00</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="mbl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>2016-02-20</value>
            </setting>
            <setting name="ScanTime" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LastDBDate" serializeAs="String">
                <value>01/31/1990 21:42:00</value>
            </setting>
        </Waircut.My.MySettings>
    </userSettings>
</configuration>
