<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>
	<TMPL_IF NAME=REFRESH_PAGE>
		<meta http-equiv="refresh" content="30" >
	</TMPL_IF>
</head>
<body>
<div id='login_as'> </div>


<h3> 		<TMPL_VAR NAME=TITLE> 	</h3>

<TMPL_IF NAME=AUTHORISED> 
<TMPL_IF NAME=SHOWFORM> 

	[ <a href='<TMPL_VAR NAME=REQUEST_URI>'>Refresh</a> ]  [ <a href='<TMPL_VAR NAME=ACTION>'>Return to task list</a> ]
	

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<div  class="left_div">
  <table border='1' cellspacing='0' cellpadding='2'>


			<tr valign='top'>
			<td> Task ID </td>
			<td> <TMPL_VAR NAME=ID> </td>

			<tr valign='top'>
			<td> Type of task </td>
			<td> <TMPL_VAR NAME=SNAME> </td>
			
			<tr valign='top'>
			<td> Crontab task id </td>
			<td> <TMPL_VAR NAME=CRONTASKID> </td>

			<tr valign='top'>
			<td> Description </td>
			<td> <TMPL_VAR NAME=DESC> </td>
			
			<tr valign='top'>
			<td> Task user </td>
			<td> <TMPL_VAR NAME=LOGIN> </td>

			<tr valign='top'>
			<td> Worker threads </td>
			<td> <TMPL_VAR NAME=WORKER_THREADS> </td>

<!--			
			<tr valign='top'>
			<td> Worker </td>
			<td> <TMPL_VAR NAME=WORKER> </td>
-->			

			<tr valign='top'>
			<td> Parameters </td>
			<td> <TMPL_VAR NAME=PARAM> </td>

			<tr valign='top'>
			<td> Task added </td>
			<td> <TMPL_VAR NAME=DT> </td>
			
			<tr valign='top'>
			<td> Status updated </td>
			<td> <TMPL_VAR NAME=SDT> </td>

			<tr valign='top'>
			<td> Status </td>
			<td 
			<TMPL_IF NAME="STATUS_RED">	
				bgcolor='#FBEFF2'
			</TMPL_IF>	
			<TMPL_IF NAME="STATUS_YELLOW">	
				bgcolor='#ECF6CE'
			</TMPL_IF>	
			<TMPL_IF NAME="STATUS_GREEN">	
				bgcolor='#CEF6CE'
			</TMPL_IF>				
			> <TMPL_VAR NAME=STATUS> </td>

			<tr valign='top'>
			<td> Progress </td>
			<td> <TMPL_VAR NAME=PROGRESS> </td>

			<tr valign='top'>
			<td> Task messages </td>
			<td> <TMPL_VAR NAME=MESS> </td>

			
			<tr valign='top'>
			<td> Output file </td>
			<td> 
			<TMPL_IF NAME="OUTFILE">	
				<a href='<TMPL_VAR NAME=OUTFILE>'> Download </a> </td>
			</TMPL_IF>				

		  
  </table>

</div>

</div>

<TMPL_ELSE>
	[ <a href='<TMPL_VAR NAME=REQUEST_URI>'>Refresh</a> ] 
	

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<div  class="left_div">

<form action='<TMPL_VAR NAME=ACTION>' method='get' name='form1'>
	<table border=1> 
		<tr>
			<td> Select type of tasks </td>
			<td> How to started tasks </td>
			<td> Crontask ID </td>
			<td> Records per page </td>
		</tr>			
		<tr>
			<td>
				<select name=filter_sname>
					<TMPL_IF NAME=FILTER_SNAME>
						<option  selected  value=<TMPL_VAR NAME=FILTER_SNAME>><TMPL_VAR NAME=FILTER_SNAME></option>
						<option  value=''> All </option>
					<TMPL_ELSE> 							
						<option  selected value=''> All </option>
					</TMPL_IF>

					<TMPL_LOOP NAME=SNAME_LIST_LOOP>
						<option  value=<TMPL_VAR NAME=LOOP_SNAME>><TMPL_VAR NAME=LOOP_SNAME></option>						
					</TMPL_LOOP>
				</select>
			</td>
			<td>
				<select name=filter_cron>
						<option  <TMPL_IF NAME=FILTER_CRON_0>selected</TMPL_IF>  value=0> All tasks</option>
						<option  <TMPL_IF NAME=FILTER_CRON_1>selected</TMPL_IF>  value=1> Cron tasks</option>
						<option  <TMPL_IF NAME=FILTER_CRON_2>selected</TMPL_IF>  value=2> Once running tasks </option>
				</select>
			</td>
			<td>
				<select name=filter_crontaskid>
					<TMPL_IF NAME=FILTER_CRONTASKID>
					<option  selected  value=<TMPL_VAR NAME=FILTER_CRONTASKID> ><TMPL_VAR NAME=FILTER_CRONTASKID></option>
					<option  value=''>All</option>
					<TMPL_ELSE>					
					<option  selected value=''>All</option>
					</TMPL_IF> 				
					<TMPL_LOOP NAME=CRONTASKID_LIST_LOOP>
						<option  value=<TMPL_VAR NAME=LOOP_CRONTASKID> ><TMPL_VAR NAME=LOOP_CRONTASKID></option>						
					</TMPL_LOOP>
				</select>
			</td>
            <td>
				<select name=lines_per_page>
					<TMPL_IF NAME=LINES_PER_PAGE>
					<option  selected  value=<TMPL_VAR NAME=LINES_PER_PAGE>><TMPL_VAR NAME=LINES_PER_PAGE></option>
					<TMPL_ELSE>					
					<option  selected value=25>25</option>
					</TMPL_IF> 
					<option value=25>25</option>
					<option value=50>50</option>
					<option value=100>100</option>
					<option value=200>200</option>
				</select>
			
			</td>
            <td><input name='save' type='submit' id='save' value='Submit filter'></td>
		</tr>
</table>
</form>


<table border=1>
	<tr>
		<td> Task id </td>
		<td> Description </td>
		<td> Type of task </td>
		<td> Crontask id </td>
		<!-- <td> User </td> -->
		<td> Threads </td>
		<td> Task added </td>
		<td> Status updated  </td>
		<td> Status </td>
		<td> Progress </td>
		<td> Output file </td>
		<td> Task messages </td>
		<td>  </td>
	</tr>

   <TMPL_LOOP NAME=TASKS_LIST_LOOP>
	<tr>

		<td> <TMPL_VAR NAME=ID></td>
		<td> <a href='<TMPL_VAR NAME=ACTION>?edit=1&id=<TMPL_VAR NAME=ID>'> <TMPL_VAR NAME=DESC> </a> </td>
		<td> <TMPL_VAR NAME=SNAME></td>
		<td 
			<TMPL_IF NAME=CRONTASKID> 
				bgcolor='#ECF6CE' 
			</TMPL_IF> > 
			<TMPL_VAR NAME=CRONTASKID> </td>
		
		<!-- <td> <TMPL_VAR NAME=LOGIN></td> -->
		<td> <TMPL_VAR NAME=WORKER_THREADS></td>
		<td> <TMPL_VAR NAME=DT></td>
		<td> <TMPL_VAR NAME=SDT></td>
		<td
			<TMPL_IF NAME="STATUS_RED">	
				bgcolor='#FBEFF2'
			</TMPL_IF>	
			<TMPL_IF NAME="STATUS_YELLOW">	
				bgcolor='#ECF6CE'	
			</TMPL_IF>	
			<TMPL_IF NAME="STATUS_GREEN">	
				bgcolor='#CEF6CE'
			</TMPL_IF>				
			> <TMPL_VAR NAME=STATUS></td>
			
		<td> <TMPL_VAR NAME=PROGRESS></td>
		<td> 
			<TMPL_IF NAME="OUTFILE">	
				<a href='<TMPL_VAR NAME=OUTFILE>'> Download </a> </td>
			</TMPL_IF>						
		<td> <TMPL_VAR NAME=MESS></td>
		<td> [ <a href='' onclick="confirm_prompt('Are you sure to delete Task _<TMPL_VAR NAME=desc>_ and all output files','<TMPL_VAR NAME=ACTION>?del=1&id=<TMPL_VAR NAME=ID>'); return false;">del</a> ] </td>
	</tr>
   </TMPL_LOOP>
</table>

<br>
		<table align=center>
			<tr>
				<TMPL_LOOP NAME=PAGER_LOOP>		
					<td <TMPL_IF NAME=PAGE_SELECTED_BGCOLOR> bgcolor='#CEF6CE' </TMPL_IF> >&nbsp; <a href='<TMPL_VAR NAME=ACTION><TMPL_VAR NAME=PAGE_PARAM>'><TMPL_VAR NAME=PAGE></a> &nbsp;</td>			
				</TMPL_LOOP>
			</tr>
		</table>


</div>

</div>

</TMPL_IF> 
</TMPL_IF> 

<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
