<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>

</head>
<body>
<div id='login_as'> </div>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<TMPL_IF NAME=AUTHORISED> 

<div  class="left_div">
<TMPL_IF NAME=SHOWFORM> 

<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>
			<tr valign='top'>
			<td> Login: </td>
			<td> <input name='login' type='text' size='20' maxlength='20' required  value='<TMPL_VAR NAME=LOGIN>'> </td>
			<tr valign='top'>
			<td> User name: </td>
			<td> <input name='name' type='text' size='30' maxlength='100' required  value='<TMPL_VAR NAME=NAME>'> </td>
			<tr valign='top'>
			<td> Password: </td>
			<td> <input name='password' type='password' size='20' maxlength='20' value=''> </td>
			<tr valign='top'>
			<td> Password again: </td>
			<td> <input name='password0' type='password' size='20' maxlength='20' value=''> </td>
			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>

<TMPL_ELSE>

<table border=1>
		<tr>
			<td colspan=5> <a href='<TMPL_VAR NAME=ACTION>?new=1'>Add new user </a></td></tr>

   <TMPL_LOOP NAME=USERS_LIST_LOOP>
		<tr>
			<td> Login: </td>
			<td> <a href='<TMPL_VAR NAME=ACTION>?edit=1&id=<TMPL_VAR NAME=ID>'><TMPL_VAR NAME=LOGIN></a></td>
			<td> User name: </td>
			<td> <TMPL_VAR NAME=NAME></td>
			<td> [ <a href="" onclick="confirm_prompt('Are you sure to delete user _<TMPL_VAR NAME=LOGIN>_ ?','<TMPL_VAR NAME=ACTION>?del=1&id=<TMPL_VAR NAME=ID>'); return false;">del</a> ] </td>
		</tr>
   </TMPL_LOOP>

</table>

</TMPL_IF> 

</div>

</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
