<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>

</head>
<body>
<div id='login_as'> </div>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<TMPL_IF NAME=AUTHORISED> 
<TMPL_IF NAME=SHOWFORM> 

<TMPL_ELSE>

<div  class="left_div">

<ul>
	<li> <a href='users.cgi' target=_blank> Add / edit / delete users </a> </li>
	<li> <a href='snmpworker.cgi' target=_blank> Add / edit / delete workers </a> </li>
	<li> <a href='task_list.cgi' target=_blank> Tasks list </a> </li>
	<li> <a href='logdownload.cgi' target=_blank> Download logs list </a> </li>
</ul>

<ul>
   <TMPL_LOOP NAME=TOOL_LIST_LOOP>
		<li> <a href='<TMPL_VAR NAME=TOOL_URL>' target=_blank> <TMPL_VAR NAME=TOOL_DESC> </a> </li>
   </TMPL_LOOP>
</ul>


</div>
</TMPL_IF> 
</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
