<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>

</head>
<body>
<div id='login_as'> </div>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">

<TMPL_IF NAME=AUTHORISED> 
<TMPL_IF NAME=SHOWFORM> 

<div  class="left_div">

<form action='<TMPL_VAR NAME=ACTION>' method='post' enctype='multipart/form-data' name='form1'>
  <input name='id' type='hidden' value='<TMPL_VAR NAME=ID>' >
  <input name='new' type='hidden' value='<TMPL_VAR NAME=NEW>' >
  <input name='edit' type='hidden' value='<TMPL_VAR NAME=EDIT>' >
  <table border='1' cellspacing='0' cellpadding='2'>

<!--
			<tr valign='top'>
			<td> name </td>
			<td> <input name='sname' type='text' size='20' maxlength='20' required  value='<TMPL_VAR NAME=SNAME>'> </td>
-->
			<tr valign='top'>
			<td> name </td>
			<td> 
				<select name='sname'>	
					<TMPL_IF NAME=SNAME>
					<option value='<TMPL_VAR NAME=SNAME>' selected><TMPL_VAR NAME=SNAME></option>
					</TMPL_IF>
					<TMPL_LOOP NAME=SNAME_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=LOOP_SNAME>' ><TMPL_VAR NAME=LOOP_SNAME></option>
					</TMPL_LOOP>					
				</select>
				</td>

			<tr valign='top'>
			<td> desc </td>
			<td> <input name='desc' type='text' size='20' maxlength='200' value='<TMPL_VAR NAME=DESC>'> </td>
			
			<tr valign='top'>
			<td> CGI script</td>
			<td>
			
				<select name='cgiscript'>	
					<TMPL_IF NAME=CGISCRIPT>
					<option value='<TMPL_VAR NAME=CGISCRIPT>' selected><TMPL_VAR NAME=CGISCRIPT></option>
					</TMPL_IF>
					<TMPL_LOOP NAME=CGISCRIPT_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=LOOP_CGISCRIPT>' ><TMPL_VAR NAME=LOOP_CGISCRIPT></option>
					</TMPL_LOOP>					
				</select>
				</td>

			<tr valign='top'>
			<td> worker script</td>
			<td>
			
				<select name='worker'>	
					<TMPL_IF NAME=WORKER>
					<option value='<TMPL_VAR NAME=WORKER>' selected><TMPL_VAR NAME=WORKER></option>
					</TMPL_IF>
					<TMPL_LOOP NAME=WORKER_LIST_LOOP>				
						<option value='<TMPL_VAR NAME=LOOP_WORKER>' ><TMPL_VAR NAME=LOOP_WORKER></option>
					</TMPL_LOOP>					
				</select>
			</td>
		<tr valign='top'>
			<td> Worker body script </td>
			<td> <input name='worker_body' type='text' size='50' maxlength='1024' value='<TMPL_VAR NAME=WORKER_BODY>'> </td>
		</tr>
		<tr valign='top'>
			<td> Export params </td>
			<td> <input name='export_param' type='text' size='100' maxlength='2048' value='<TMPL_VAR NAME=EXPORT_PARAM>'> </td>
		</tr>
		<tr valign='top'>
			<td> Table header </td>
			<td> <input name='table_header' type='text' size='100' maxlength='1024' value='<TMPL_VAR NAME=TABLE_HEADER>'> </td>
		</tr>

			<tr valign='top'>
            <td>&nbsp;</td>
            <td><input name='save' type='submit' id='save' value='Save'></td>
          </tr>
		  
  </table>
        <br>

</form>
</div>


<TMPL_ELSE>

<div  class="left_div">
<table border=1>
	<tr>
		<td colspan=8> <a href='<TMPL_VAR NAME=ACTION>?new=1'>Add new record </a></td></tr>
	</tr>
	<tr>
		<td> sname </td>
		<td> desc </td>
		<td> cgiscript </td>
		<td> worker </td>
		<td> worker body </td>
		<td> export params </td>
		<td> table header </td>
		<td>  </td>
	</tr>

   <TMPL_LOOP NAME=USERS_LIST_LOOP>
	<tr>
		<td> <a href='<TMPL_VAR NAME=ACTION>?edit=1&id=<TMPL_VAR NAME=ID>'><TMPL_VAR NAME=SNAME></a></td>
		<td> <TMPL_VAR NAME=DESC></td>
		<td> <TMPL_VAR NAME=CGISCRIPT></td>
		<td> <TMPL_VAR NAME=WORKER></td>
		<td> <TMPL_VAR NAME=WORKER_BODY></td>
		<td> <TMPL_VAR NAME=EXPORT_PARAM></td>
		<td> <TMPL_VAR NAME=TABLE_HEADER></td>
		<td> [ <a href='' onclick="confirm_prompt('Are you sure to delete snmp worker definition _<TMPL_VAR NAME=NAME>_','<TMPL_VAR NAME=ACTION>?del=1&id=<TMPL_VAR NAME=ID>'); return false;">del</a> ] </td>
	</tr>
   </TMPL_LOOP>
</table>


</div>
</TMPL_IF> 
</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
