<html>
<head>
	<title>
		<TMPL_VAR NAME=TITLE>
	</title>
	<LINK href='../main.css' type=text/css rel=stylesheet>
	<script language="javascript" type="text/javascript" src="../js/snmpcheck.js"></script>
	<TMPL_IF NAME=REDIRECT_TO>
		<meta http-equiv='refresh' content='2;url=<TMPL_VAR NAME=REDIRECT_TO>'>
	</TMPL_IF> 

</head>
<body>
<div id='login_as'> </div>
<h3>
	<TMPL_VAR NAME=TITLE>
</h3>

<font color=red> <h4> <TMPL_VAR NAME=MESSAGES> </h4> </font>

<hr>

<div  class="parent">
<TMPL_IF NAME=AUTHORISED> 
<div  class="left_div">
<TMPL_IF NAME=SHOWFORM> 



</TMPL_IF> 

</div>
</TMPL_IF> 
</div>
<TMPL_VAR NAME=SET_COOKIES>
<TMPL_VAR NAME=GET_COOKIES>
<script>
show_login_as( );
</script>

</body>
</html>
